.home{
    position: relative;
    height: calc(100% - 50px);
    padding-bottom: 50px;
}
.home .adm-tab-bar{
    position: fixed;
    width:100%;
    bottom:0;
}
.home .footer{
    height: 50px;
    background-color: #fff;
}