
.navItem{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.groups{
    padding: 10px;
    background-color: #f5f5f5;
}
.groups .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    line-height: 20ox;
}
.groups .title .more{
    color: darkgrey;
}
.groupItem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    margin-bottom: 5px;
}
.groupItem:nth-child(odd){
    margin-right: 5px;
}
.news{
    padding: 10px;

}
.news .title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.news .newsItem .right .title{
   font-size: 14px;
}
.news .newsItem .right .desc{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.swiperDiv{
    position: relative;
    .searchDiv{
        position: absolute;
        top:10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        .search{
            flex:1;
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 8px;
            .location{
                width: 50px;
                margin-right: 10px;
                text-align: center;
            }
            .form{
                display: flex;
                align-items: center;
                .adm-input-element{
                    font-size: 13px;
                }
            }
        }
    }
}